.floor2 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 40px;
    width: 1380px;
    height: 585px;
    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;
}

.catTovarov {
    width: 350px;
    height: 585px;
    flex: none;
    order: 0;
    flex-grow: 0;
    background: #D9D9D9;
    border-radius: 20px;
}

.Categories {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 15px 15px 0px;
    gap: 30px;
    width: 320px;
    height: 543.82px;
}

.CategoriesConsoles {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    width: 302px;
    height: 60px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.CategoriesAcessyar {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    width: 302px;
    height: 60px;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.CategoriesGames {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    width: 302px;
    height: 60px;
    flex: none;
    order: 2;
    flex-grow: 0;
}

.CategoriesZapChasti {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    width: 302px;
    height: 60px;
    flex: none;
    order: 3;
    flex-grow: 0;
}

.CategoriesUslugi {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    width: 302px;
    height: 60px;
    flex: none;
    order: 4;
    flex-grow: 0;
}

.Line {
    width: 320px;
    height: 0px;
    border: 1px solid #000000;
    flex: none;
    order: 5;
    align-self: stretch;
    flex-grow: 0;
}

.CategoriesUchenTovari {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    width: 302px;
    height: 60px;
    flex: none;
    order: 6;
    flex-grow: 0;
}

.CategoriesConsolesLogo {
    width: 60px;
    height: 60px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.CategoriesConsolesText {
    width: 222px;
    height: 60px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #000000;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 1;
}

.CategoriesAcessyarLogo {
    width: 60px;
    height: 60px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.CategoriesGamesLogo {
    width: 60px;
    height: 60px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.CategoriesZapChastiLogo {
    width: 60px;
    height: 60px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.CategoriesUslugiLogo {
    width: 56px;
    height: 60px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.CategoriesUchenTovariLogo {
    width: 60px;
    height: 60px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.CategoriesAcessyarText {
    width: 222px;
    height: 60px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #000000;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 1;
}

.CategoriesGamesText {
    width: 222px;
    height: 60px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #000000;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 1;
}

.CategoriesZapChastiText {
    width: 222px;
    height: 60px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #000000;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 1;
}

.CategoriesUslugiText {
    width: 222px;
    margin-left: 4px;
    height: 60px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #000000;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 1;
}

.CategoriesUchenTovariText {
    width: 222px;
    height: 60px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #000000;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 1;
}

.RightPartOf2Floor {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    width: 995px;
    height: 585px;
    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}

.HigherPartOfRightPartOf2Floor {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 40px;
    width: 995px;
    height: 165px;
    border-radius: 20px;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.LowerPartOfRightPartOf2Floor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
    width: 995px;
    height: 380px;
    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}

.PersonalAreaBox {
    width: 293px;
    height: 155px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 0px 0px 10px;
    gap: 15px;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    /* position: relative; */
    background: #D9D9D9;
    border-radius: 20px;
}

.StockBox {
    width: 160px;
    height: 155px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 10px 0px;
    gap: 15px;
    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
    /* position: relative; */
    background: #D9D9D9;
    border-radius: 20px;
}

.ConsoleSelectionBox {
    width: 180px;
    height: 155px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 10px 0px;
    gap: 15px;
    /* Inside auto layout */
    flex: none;
    order: 2;
    flex-grow: 0;
    /* position: relative; */
    background: #D9D9D9;
    border-radius: 20px;
}

.GiftCardsBox {
    width: 166px;
    height: 155px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 10px 0px;
    gap: 15px;
    /* Inside auto layout */
    flex: none;
    order: 3;
    flex-grow: 0;
    /* position: relative; */
    background: #D9D9D9;
    border-radius: 20px;
}

.BigFont {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    color: #000000;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.SmallFont {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    color: #000000;
}

.formaOnPersonalAreaBox {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 35px;
    width: 261px;
    height: 50px;
    /* Inside auto layout */
    flex: none;
    order: 2;
    flex-grow: 0;
}

.Button1formaOnPersonalAreaBox {
    width: 85px;
    height: 50px;
    box-sizing: border-box;
    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 20px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.Button2formaOnPersonalAreaBox {
    width: 133px;
    height: 50px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    box-sizing: border-box;
    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 20px;
    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}

.FormWithButtonForLowerPartOf2Floor {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    width: 409px;
    height: 50px;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.Button1FormWithButtonForLowerPartOf2Floor {
    width: 85px;
    height: 50px;
    box-sizing: border-box;
    background: #FFFFFF;
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.Button2FormWithButtonForLowerPartOf2Floor {
    width: 100px;
    height: 50px;
    box-sizing: border-box;
    background: #FFFFFF;
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}

.Button3FormWithButtonForLowerPartOf2Floor {
    width: 92px;
    height: 50px;
    box-sizing: border-box;
    background: #FFFFFF;
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    /* Inside auto layout */
    flex: none;
    order: 2;
    flex-grow: 0;
}

.Button4FormWithButtonForLowerPartOf2Floor {
    width: 102px;
    height: 50px;
    box-sizing: border-box;
    background: #FFFFFF;
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    /* Inside auto layout */
    flex: none;
    order: 3;
    flex-grow: 0;
}

.slider1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 40px;
    width: 995px;
    height: 300px;
    position: relative;
    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}

.rectangles {
    width: 200px;
    height: 300px;
    background: #F500FA;
    border-radius: 20px;
}
.ButtonLeftSlider1{
    position: absolute;
    box-sizing: border-box;
    width: 60px;
    height: 60px;
    left: 7.89px;
    border-radius: 100%;
    top: 120px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
    text-align: center;
    background: #FFFFFF;
    border: 1px solid #000000;
}
.ButtonLeftSlider2{
    position: absolute;
    box-sizing: border-box;
    width: 60px;
    border-radius: 100%;
    height: 60px;
    right: 7.89px;
    top: 120px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
    text-align: center;
    background: #FFFFFF;
    border: 1px solid #000000;
}