.Roof {
    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 10px;
    width: 1380px;
    height: 29px;
    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.city {
    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 10px;
    width: 176px;
    height: 29px;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.cityIMG {
    /* Inside auto layout */
    width: 22px;
    height: 29px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.cityName {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}

.RoofRazd {
    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 0px 0px 210px;
    gap: 30px;
    width: 700px;
    height: 19px;
    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}

.NameRazd {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
    /* Inside auto layout */
    flex: none;
    /*order: 0;*/
    flex-grow: 0;
}

.Tel {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-align: right;
    color: #000000;
    /* Inside auto layout */
    flex: none;
    order: 2;
    flex-grow: 1;
}